



<link rel="stylesheet" href="home.css">

<!DOCTYPE html>
<html lang="en">
<head>


  <style>
    .fakeimg {
      height: 200px;

      background: #aaa;
    }
  </style>


</head>
<body>

  <div class="header" style="margin-bottom:0">
    <h1>MIXR</h1>
    <p>Find your rythm</p>
  </div>



  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>Meet new friends!</h2>
        <div class="fakeimg"><app-create-user></app-create-user></div>
      </div>
      </div>
    </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h2>Discover new music!</h2>

            <div class="fakeimg">  <app-search></app-search></div>
          </div>
          </div>
        </div>

          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <h2>  </h2>
                <!--<div class="fakeimg">find local live concerts!</div>-->
              </div>



            </div>
          </div>

</body>
</html>
