body
 {
  /* background-image: linear-gradient(to bottom right, rgb(28, 240, 11), rgb(141, 8, 244)); */
  background-color: #f7f7f7;

  text-align: center;

 }

 .header
 {
  height: 200px;
  opacity: 0.8;
  background-image: url("https://media.istockphoto.com/photos/music-mixer-picture-id622064544?k=20&m=622064544&s=612x612&w=0&h=f79QN7JOB1I6Y01yjd8PcNJL1g8LF4QoQUqxeRhOY_8=");
  background-size: cover;
  background-position: center;
  text-align: center;

 }

 h1
 {
  color: #f7f7f7;
  text-shadow: 4px 4px 5px #1CF00B;
  font-size: 75px;
 }

 p{
  color: #f7f7f7;
  text-shadow: 4px 4px 5px #1CF00B;
  font-size: 50
 }

 button{
   color: navy;
   background-color:lightblue;
 }

