<link rel="stylesheet" href="home.css">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Document</title> -->
</head>

<!-- </html>
<!DOCTYPE html>
<html lang="en">
<head> -->


  <!-- <style>
    .fakeimg {
      height: 200px;

      background: #aaa;
    }
  </style> -->


<!-- </head> -->


  <!-- <div class="header" style="margin-bottom:0">
    <div class="lghead">MIXR</div>
    <div class="smhead">Find your rythm</div>
  </div> -->

  <body>
    <div class="header" style="margin-bottom:0">
      <div class="lghead">MIXR</div>
      <div class="smhead">Find your rythm</div>
    </div>

      <div class="about">
        <h3>What is Mixr?</h3><br>
        <h4>Mixr pairs with Spotify to find new music and new friends.</h4>
        <h4>Found a great song your new friends haven't heard of? Be sure to share that jam with them!</h4>
      </div>



  <button type="button" class="collapsible">Join Now!</button>
    <div class="createuser">
      <app-create-user></app-create-user>
    </div>

  <button type="button" class="collapsible">Search!</button>
      <div class="container">
        <app-search></app-search>
      </div>
</body>
</html>
