body
 {
  background-color: #5D5D5D;
  text-align: center;
  justify-content: center;
  position: absolute;
  /* top: 0;
  bottom: 0; */
  left: 0;
  right: 0;
 }

 .header
 {
  height: 200px;
  opacity: 0.8;
  background-image: url("https://media.istockphoto.com/photos/music-mixer-picture-id622064544?k=20&m=622064544&s=612x612&w=0&h=f79QN7JOB1I6Y01yjd8PcNJL1g8LF4QoQUqxeRhOY_8=");
  background-size: cover;
  background-position: center;
  text-align: center;
  background-color: #5D5D5D;
 }

 .lghead
 {
  color: #1CF00B;
  text-shadow: 0px 0px 14px #BBFBB6;
  font-size: 75px;
 }
 .smhead
 {
  color: #f7f7f7;
  text-shadow: 0px 0px 0px black, 0px 0px 6px #1CF00B;
  font-size: 50px;
 }

 h3
 {
  color: #1CF00B;
  text-shadow: 0px 0px 14px #BBFBB6;
  font-size: 40px;
 }

 h4{
  color: #f7f7f7;
  text-shadow: 0px 0px 0px black, 0px 0px 6px #1CF00B;
  font-size: 25px;
 }

 .collapsible
 {
   background-color: #8D08F4;
   cursor: pointer;
   width: 75%;
   font-size: 20px;
   border-radius: 20px;
   height: 75px;
   color: #f7f7f7;
   text-shadow: 1px 1px 1px black, 4px 4px 5px #1CF00B;
   font-size: 50px;
   background-position: center;
   justify-content: center;
   text-align: center;

 }

 .active, .collapsible:hover {
  background-color: #1CF00B;
}

.content {
  /* padding: 0 18px; */
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

 .createuser, .container
{
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-position: center;
  display: flex;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  text-align: center;
  width: 75%;
  height: 900px;
  box-shadow: 10px 10px 5px #8D08F4;
  background-color: #f7f7f7;
  border-radius: 20px;
  justify-content: center;
  border: 2px solid #8D08F4;
  margin: auto;
}

