body
 {
  background-color: #5D5D5D;
  text-align: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
 }

.search-container
{
  background-color: #5d5d5d;
  color:#f7f7f7;
}

.header
{
 height: 200px;
 opacity: 0.8;
 background-image: url("https://media.istockphoto.com/photos/music-mixer-picture-id622064544?k=20&m=622064544&s=612x612&w=0&h=f79QN7JOB1I6Y01yjd8PcNJL1g8LF4QoQUqxeRhOY_8=");
 background-size: cover;
 background-position: center;
 text-align: center;
 background-color: #5D5D5D;
}

.lghead
{
 color: #1CF00B;
 text-shadow: 0px 0px 14px #BBFBB6;
 font-size: 75px;
}
.smhead
{
 color: #f7f7f7;
 text-shadow: 0px 0px 0px black, 0px 0px 6px #1CF00B;
 font-size: 50px;
}

h1
{
 color: #f7f7f7;
 text-shadow: 0px 0px 14px #BBFBB6;
 font-size: 75px;
}

p{
 color: #f7f7f7;
 text-shadow: 0px 0px 0px black, 0px 0px 6px #1CF00B;
 font-size: 50px;
}

.search-form
{
  background-color: #5d5d5d;
  color:#f7f7f7;
}
