<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="searchpage.component.css">
</head>



<body>

<div class="header" style="margin-bottom:0">
  <div class="lghead">MIXR</div>
  <div class="smhead">Find your rythm</div>
</div>


<div class="search-container">
<form class="search-form" #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
  <div class="dropMenu">
    <label for="category">Select</label>
    <select id="category" name="category" ngModel class="dropMenu">
      Search by:
      <option value="1">Song</option>
      <option value="2">Artist</option>
      <option value="3">User</option>
    </select>
  </div>
  <br>
  <input class="search-input" name="search" ngModel />

  <button class="btn-search">Search</button>
</form>

<div *ngIf="songSearch">

  <app-song [song]="songSearch">   </app-song>
</div>

<div *ngIf="artistSearch">

  <app-artist [artist]="artistSearch">   </app-artist>
</div>

<div *ngIf="userSearch">

  <app-tempo-user [tempouser]="userSearch">   </app-tempo-user>
  <button class="btn-add">Add Connection</button>
</div>
</div>

<div class="extra-box"></div>
</body>
</html>
