/*.artistTile
{
  display: flex;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  text-align: center;
  width: 75%;
  box-shadow: 20px 20px 5px #8D08F4;
  background-color: #f7f7f7;
  border-radius: 20px;
  justify-content: center;
  border: 2px solid #8D08F4;
}
*/
