body
{

   background-color: #5D5D5D;
   text-align: center;
   justify-content: center;
   position: absolute;
   left: 0;
   right: 0;
   height: auto;
  
}

.btn-update
{
  color: #f7f7f7;
  box-shadow: 2px 2px #1CF00B;
  background-color: #5d5d5d;

}
.header
{
  height: 200px;
  opacity: 0.8;
  background-image: url("https://media.istockphoto.com/photos/music-mixer-picture-id622064544?k=20&m=622064544&s=612x612&w=0&h=f79QN7JOB1I6Y01yjd8PcNJL1g8LF4QoQUqxeRhOY_8=");
  background-size: cover;
  background-position: center;
  text-align: center;
 }
 .lghead
 {
  color: #1CF00B;
  text-shadow: 0px 0px 14px #BBFBB6;
  font-size: 75px;
 }
 .smhead{
  color: #f7f7f7;
  text-shadow: 0px 0px 0px black, 0px 0px 6px #1CF00B;
  font-size: 50px;
 }
