<form class="create-user-form" #createUserForm="ngForm" (ngSubmit)="onSubmit(createUserForm)">

  Login Name: <input class="login-name" name="LoginName" ngModel />
  FirstName: <input class="first-name" name="FirstName" ngModel/>
  LastName: <input class="last-name" name="LastName" ngModel/>
  StreetAddress: <input class="address" name="StreetAddress" ngModel/>
  State: <input class="state" name="State" ngModel />
  ZipCode: <input class="zip-code" name="ZipCode" ngModel />
  UserBio: <input class="bio" name="UserBio" ngModel />

  <button class="btn-create">Create Profile</button>
</form>
