<form class="create-user-form" #createUserForm="ngForm" (ngSubmit)="onSubmit(createUserForm)">

  Login Name: <input class="login-name" name="LoginName" ngModel /><br><br>
  <!-- Password: <input class="password" name="Password" ngModel /><br><br> -->
  FirstName: <input class="first-name" name="FirstName" ngModel/><br><br>
  LastName: <input class="last-name" name="LastName" ngModel/><br><br>
  StreetAddress: <input class="address" name="StreetAddress" ngModel/><br><br>
  State: <input class="state" name="State" ngModel /><br><br>
  ZipCode: <input class="zip-code" name="ZipCode" ngModel /><br><br>
  UserBio: <input class="bio" name="UserBio" ngModel /><br><br>

  <button class="btn-create">Create Profile</button>
</form>
